<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTTP Request - Headers</title>
  </head>
  <body>
    <main>
        <p>'user-agent': <%=headers['user-agent'] %> </p>
        <p>accept: <%=headers['accept'] %> </p>
        <p>'postman-token': <%=headers['postman-token'] %></p>
        <p>host: <%=headers['host'] %></p>
        <p>'accept-encoding': <%=headers['accept-encoding'] %></p>
        <p>connection: <%=headers['connection'] %></p>
    </main>
  </body>
</html> 